@font-face {
        font-family: JetBrainsMono Bold;
        src: url(fonts/JetBrainsMono-Bold.woff2);
}

@font-face {
        font-family: JetBrainsMono;
        src: url(fonts/JetBrainsMono-Regular.woff2);
}


body{
	background-color:#101010 !important;
	color:#eeeeee;
	font-family:JetBrainsMono;
}

header{
	background-color:#eeeeee !important;

	margin: 4% 20% 4% 0%;
	padding: 4% 10% 4% 4%;

	font-family:JetBrainsMono Bold;
	letter-spacing:4px;
	color:#101010;
}

header p{
	font-size:90%;
}

main h2{
	background-color:#eeeeee;
	margin: 1% 20% 0% 1%;
	padding: 1% 20% 1% 1%;
	font-size:90%;
	color:#101010;
}

main p{
	margin: 1% 20% 2% 2%;
	padding: 1% 1% 3% 1%;
	font-size:80%;
}

main blockquote{
}
